header-title{
    color: red;
    
}
.header-container{
   
    background-color: rgb(179, 232, 100);
    width: 100%;
    padding: 10px;
    margin: auto;


}
.header-cart{
    text-align: right;
    padding: 10px;

}
