.eachitem-container{
    color: blue;
    background-color: pink;
    
    border-radius: 10px;
}
.each-item{
    
    border: solid palegoldenrod;
    border-radius: 10px;
    text-align: left;
   
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    
}
.item-price{
    text-align: right;
    color: red;
    margin: auto;

}
.item-container{
    color: red;
    width: 95%;
}

